name: test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: macos-26
    permissions:
      contents: read
    env:
      MISE_HTTP_TIMEOUT: 120
      MISE_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: ./.github/actions/setup-macos
      - run: make lint
      - run: make build-app
      - run: make test
